.Footer {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#3F51B5, #5C6BC0);
    height: 300px;
    padding: 40px;
}

.Footer-title{
    font-size: 24px;
    padding-left: 40px;
    padding-bottom: 12px;
}


.Footer-column{
    flex: 1;
    text-align: left;
    padding: 20px;
    font-weight: 700;
    color: white;
}

.Footer-list-content ul{
    list-style-type: none;
}

.Footer-list-content li{
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 20px;
}

.Footer-list-content.contact{
    font-style: italic;
}

.Footer-claiming-icon {
    padding-right: 8px;
}

