.Header {
    background-color: #EEEEEE;
    height: auto;
}

.Header-Menu-List {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 16px;
}