.Menu-Item {
    background-color: #3f8cb5;
    color: white;
    padding: 8px 16px;
    margin: 28px;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    width: 100px;
    cursor: pointer;
}